<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/logo.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">{% block title %} Belednai {% endblock %}
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-collection text-orange"></i>
              <span class="nav-link-text">USSD Short-codes</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'payment' in segment %} active {% endif %}" href="/payment.html">
              <i class="ni ni-credit-card text-default"></i>
              <span class="nav-link-text">Payment & Travel</span>
            </a>
          </li>

 


          <li class="nav-item">
            <a class="nav-link {% if 'accomodation' in segment %} active {% endif %}" href="/accomodation.html">
              <i class="ni ni-building text-default"></i>
              <span class="nav-link-text">Accomodation</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'food' in segment %} active {% endif %}" href="/food.html">
              <i class="ni ni-delivery-fast text-orange"></i>
              <span class="nav-link-text">Food Suppliers</span>
            </a>
          </li>

                   

          <li class="nav-item">
            <a class="nav-link {% if 'tunes' in segment %} active {% endif %}" href="/tunes.html">
              <i class="ni ni-headphones text-primary"></i>
              <span class="nav-link-text">Caller Tunes</span>
            </a>
          </li>

         
         
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>



          <li class="nav-item">
            <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
              {% csrf_token %}
            </form>
            <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>           
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Call Us For Tech Services</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            
              <button type="button" class="btn-icon-clipboard" data-clipboard-text="+211928446544" title="Copy to clipboard">
                <div>
                  <i class="ni "></i>
                  <span>+211928446544</span>
                </div>
              </button>
        
          </li>

         

          <li class="nav-item">
            <a class="nav-link active active-pro" 
               target="_blank" 
               href="">
              <i class="ni ni-send text-dark"></i>
              <span class="nav-link-text">Message Us</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>



<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BNSPJH04P3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BNSPJH04P3');
</script>